.DiscountHeader {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: -11px;
  background-color: #ec7070;
  color: #fff;
  font-weight: 500;
  padding: 7px;
  border-radius: $borderRadius + px;
  box-shadow: $boxShadow;
  font-size: 1.7rem;

  @media (max-width: $screen-sm-max) {
    margin-top: -5px;
  }

  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: #e55959;
  }

  a:hover {
    text-decoration: none;
    color: #fff;
  }

  &__stress {
    display: contents;
    color: #222;
    margin-left: 4px;
    margin-right: 4px;
  }
}