// Fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,600,600i');

body {
    font-family: 'Fira Sans', sans-serif !important;
    font-weight: 300;
    background-color: $bodyBgColor;
    font-size: map_get($fontSize, body-mobile) + px;
    color: $textColor;
    width: 100%;
    position: relative;
}

@media (min-width: $screen-sm-min) {
    body {
        font-size: map_get($fontSize, body-desktop) + px;
    }
}

@media (min-width: $screen-md-min) {
    .removePadding {
        padding: 0;
    }
}

img {
    vertical-align: initial;
}

.mainContainer {
    position: relative;
    padding-top: ($navbarHeight + $extraPaddingTopMainContent + 30) + px;

    @media (max-width: $screen-sm-max) {
        padding-top: ($navbarHeightSmallScreens + 30) + px;
    }
}

.form-control {
    font-size: 17px;
}

// set custom scrollbars
::-webkit-scrollbar {
    background-color: #fff;
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #89898f;
    border-radius: 16px;
    border: 2px solid #fff;
}

.fontSize17 {
    font-size: 17px!important;
}

.text-muted {
    color: #6c757d;
}

