// Activity
//
// Markup: activity.hbs
//
// The component use to announce any kind or user-related or other activity on the news-feed
//
// Style guide: Components.Activity
.Activity {
    &__heading {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: center;
        align-items: center;

        text-align: map_get($userActivityHeading, textAlign);
    }

    &__profile-image {
        margin-right: 10px;

        img {
            width: map_get($userActivityProfileImage, width) + px;
            height: map_get($userActivityProfileImage, height) + px;
            border-radius: 2px;
            object-fit: cover;
            display: block;
        }
    }

    &__user-details {
        display: flex;
        -webkit-flex: 9 0 0;
        flex: 9 0 0;
    }

    &__title {
        display: flex;
        align-items: center;

        a {
            line-height: 1.21;
            color: #555;
            font-size: 16px;
            font-weight: 500;

            &:hover {
                text-decoration: none;
                //color:
            }
        }

        .onlineCircle {
            display: inline-block;
            background-color: #33e23c;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            margin-left: 8px;
        }
    }

    &__date {
        font-size: 12px;
        line-height: 1.42;
        text-align: left;
        color: $textColor;
    }

    &__body {
        padding: 0 15px 15px;

        img {
            width: 100%;
        }
    }

    &__text {
        padding-top: 10px;
        font-style: italic;
    }
}