<div class="row">
<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="Tile Activity">
        <div class="Tile__heading Activity__heading">
            <div class="Activity__profile-image">
                <img src="http://placehold.it/60x60" alt="">
            </div>
            <div class="Activity__user-details">
                <div class="Activity__title">Rerum quis quas non delectus.</div>
                <div class="Activity__date">Jul 4, 2017</div>
            </div>
        </div>
        <div class="Tile__body Activity__body">
            <img src="http://placehold.it/400x300" alt="">
        </div>
    </div>
</div>
</div>