<div class="Alert {{ modifier_class }} alert-dismissible" >
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{ modifier_class }}!</strong> This is a message with feedback to the user.
</div>