// Button
//
// The buttons are built from the same base class.
//
// Markup: button.hbs
//
// .Button--default   - The default button
// .Button--primary   - The primary button
// .Button--success   - The success button
// .Button--warning   - The warning button
// .Button--info      - The info button
// .Button--danger    - The danger button
//
// Style guide: Components.Button
.Button {
    display: inline-block;
    padding: 4px 20px;
    border-radius: map_get($button, border-radius) + px;
    border-width: map_get($button, border-width) + px;
    border: 0;
    color: map_get($button, font-color);
    text-align: center;

    &.whiteFont {
        color: $white;

        &:hover {
            color: $white;
        }
    }

    &.Button-fw {
        width: 100%;
    }

    &.bottom-spacing {
        margin-bottom: 5px;
    }

    &:hover {
        text-decoration: none;
        color: $white;
    }

    &:active {
        box-shadow: map_get($button, box-shadow__active);
        color: map_get($button, font-color);
        outline: 0;
        text-decoration: none;
    }

    &:focus {
        outline: 0;
        color: map_get($button, font-color);
        text-decoration: none;
    }

    .Button__content {
        line-height: map_get($button, line-height) + px;
        font-size: map_get($button, font-size) + rem;
        font-weight: map_get($button, font-weight);
    }
}

.Button--default {
    background-color: map_get($defaultButton, background-color);
    color: map_get($defaultButton, font-color);
    border: 1px solid #ccc;

    &:hover {
        background-color: map_get($defaultButton, background-color__hover);
        color: map_get($defaultButton, font-color);
    }

    &:active {
        background-color: map_get($defaultButton, background-color__active);
        color: map_get($defaultButton, font-color);
    }
}

.Button--primary {
    background-color: map_get($primaryButton, background-color);
    color: map_get($primaryButton, font-color);
    border-color: map_get($primaryButton, border-color);

    &:hover {
        background-color: map_get($primaryButton, background-color__hover);
    }

    &:active {
        background-color: map_get($primaryButton, background-color__active);
    }
}

.Button--success {
    background-color: map_get($successButton, background-color);
    color: map_get($successButton, font-color);

    &:hover {
        background-color: map_get($successButton, background-color__hover);
    }

    &:active {
        background-color: map_get($successButton, background-color__active);
    }
}

.Button--info {
    background-color: map_get($infoButton, background-color);
    color: map_get($infoButton, font-color);

    &:hover {
        background-color: map_get($infoButton, background-color__hover);
    }

    &:active {
        background-color: map_get($infoButton, background-color__active);
    }
}

.Button--warning {
    background-color: map_get($warningButton, background-color);
    color: map_get($warningButton, font-color);

    &:hover {
        background-color: map_get($warningButton, background-color__hover);
    }

    &:active {
        background-color: map_get($warningButton, background-color__active);
    }
}

.Button--danger {
    background-color: map_get($dangerButton, background-color);
    color: map_get($dangerButton, font-color);

    &:hover {
        background-color: map_get($dangerButton, background-color__hover);
    }

    &:active {
        background-color: map_get($dangerButton, background-color__active);
    }
}