.ConfirmModal {
  .dg-btn--cancel {
    background-color: $secondaryColor;
    color: $white;
    border-color: transparent;
  }

  .dg-btn--ok {
    background-color: $tertiaryColor;
    color: $white;
    border-color: transparent;
  }

  &__actionButtons {
    display: flex;
    flex-direction: row;

    .Button:first-child {
      margin-left: initial;
    }
  }
}