.imageModal {
  img {
    display: block;
  }

  .modal-body {
    padding: 0;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border-radius: 50%;
    color: #ff5b49;
    width: 40px;
    height: 40px;
    opacity: 0.4;

    &:hover {
      opacity: 0.6;
    }
  }
}