.LowProfileCompletion {
    font-weight: 400;

    .Tile__body {
        position: relative;
    }

    .itemNotDone {
        color: red;
        position: relative;
        top: 5px;
    }

    .itemMedium {
        color: orange;
        position: relative;
        top: 5px;
    }

    .itemDone {
        color: green;
        position: relative;
        top: 5px;
    }

    .warningSign {
        color: #ffb951;
        font-size: 2.5rem;
        margin-right: 5px;
    }

    .percentageText {
        position: absolute;
        display: flex;
        align-items: center;
        right: 11px;
        color: #fff;
        top: 0;
        bottom: 0;
        font-size: 14px;
        font-weight: 400;
    }
}