
@mixin private-chat-list {
    @for $i from 0 through 10 {
        .PrivateChatItem--#{$i} { right: (370 + (map_get($privateChatItem, width) + 20) * $i) + px; }
    }
}

@mixin private-chat-list-mobile {
    @for $i from 0 through 10 {
        .PrivateChatItem--#{$i} {
            &.mobile {
                bottom: (60 * $i) + px;
            }
        }
    }
}

@include private-chat-list;
@include private-chat-list-mobile;

.PrivateChatItem {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: map_get($privateChatItem, width) + px;

    &__head {
        border-radius: 2px 2px 0 0;
        padding: 10px;
        background-color: $mainColor;

        &__wrapper {
            display: flex;
            flex-direction: row;
        }

        &__notify {
            background-color: $topaz;
        }
    }

    &__user {
        display: flex;
    }

    &__profile-image,
    &__username,
    &__clear {
        align-self: center;
        color: $white;
    }

    &__profile-image {
        margin-right: 10px;
        border-radius: 50%;
        width: 27px;
        height: 27px;
    }

    &__username {
        display: inline-block;
        color: $white;
        cursor: default;

        max-width: 132px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__actionIcons {
        display: flex;
        margin-left: auto;
        align-self: center;
    }

    &__minimize,
    &__clear {
        display: flex;
        cursor: pointer;

        .material-icon {
            &.minimize,
            &.clear {
                align-self: center;
                color: $white;
            }

            &.minimize {
                position: relative;
                bottom: 2px;
            }
        }
    }

    &__body {
        font-size: 12px;

        &__content {
            padding: 10px;
            height: 200px;
            overflow-y: scroll;
            background-color: $darkWhite;
        }
    }

    &__message {
        position: relative;
        padding: 10px 10px 28px 10px;
        min-height: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        word-break: break-all;

        &--user-a {
            background: #FDE4CE;
            margin-right: 10px;
        }

        &--user-b {
            background: #EEF2E7;
            margin-left: 10px;
        }

        &.last {
            margin-bottom: 0;
        }

        &__createdAt {
            position: absolute;
            right: 4px;
            bottom: 3px;
            font-size: 11px;
            color: #555;
        }
    }

    &__textarea {
        height: 34px;
        margin: 7px;
        border: medium none;
        border-bottom: 1px solid $lightGrey !important;
        width: 95%;
        overflow: hidden;

        &:focus {
            outline: 0;
        }

        &__wrapper {
            background-color: $white;
        }

        &__buttons {
            overflow: hidden;
            padding: 2px 0px 0px 5px;
            width: 100%;
            background-color: $white;
        }

        &__buttons .material-icons {
            font-size: 20px;
            color: $mildGrey;
        }

        &__hiddenDiv {
            display: none;
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow-wrap: break-word;
            width: 95%;
            overflow: hidden;
            min-height: 34px;
        }

        &__textStuff {
            resize: none;
            overflow: hidden;
        }
    }

    &.focus {
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
}
