.ScrollTopButton {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: lighten($tertiaryColor, 7%);
  left: 50px;
  bottom: 80px;
  z-index: 7;
  cursor: pointer;

  box-shadow: 0 0 5px rgba(0,0,0,0.2);

  .material-icons {
    color: lighten($secondaryColor, 10%);
    font-size: 48px;
  }


  &:hover {
    background-color: $tertiaryColor;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);

    .material-icons {
      color: $secondaryColor;
      font-size: 54px;
    }
  }

  &:active {
    background-color: $tertiaryColor;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  @media screen and (max-width: $screen-xs-max) {
    left: 30px;
    bottom: 40px;
    width: 40px;
    height: 40px;

    .material-icons {
      color: lighten($secondaryColor, 10%);
      font-size: 30px;
    }

    &:active,
    &:focus,
    &:hover {
      font-size: 30px;
    }
  }
}