//  Tile
//
// Markup: tile.hbs
//
// The main layout component which all the modules and other components are based upon
//
// Style guide: Components.Tile
.Tile {
    overflow: hidden;

    margin-bottom: 20px;
    border-radius: $borderRadius + px;

    background-color: $tileBgColor;
    box-shadow: 0 1px 2px 0 rgba(45, 49, 66, 0.25);

    text-align: justify;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: map_get($tileHeading, padding) + px;
        font-size: map_get($tileHeading, fontSize) + px;
        font-weight: 500;
        color: map_get($tileHeading, fontColor);
        text-align: map_get($tileHeading, textAlign);
        white-space: nowrap;

        .material-icons {
            margin-right: 10px;
        }
    }

    &__body {
        padding: 20px map_get($tileBody, padding) + px;

        @media (max-width: $screen-sm-max) {
            padding: 0 15px 20px 15px;
        }

        h4 {
            margin-top: 30px;
        }
    }

    &__articles {
        padding: map_get($tileBodyArticles, padding) + px;
    }

    &__article {
        .Tile__body {
            padding: 30px;
            text-align: justify;
        }
    }

    &__footer {
        padding: map_get($tileHeading, padding) + px;
    }
}