<div class="row">
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="Tile User-summary">
        <div class="Tile__heading User-summary__heading">
            rachael.doyle, 27
        </div>
        <div class="Tile__body User-summary__body">
            <div class="User-summary__user-image">
                <img style="width: 100%;" src="http://dating.app/img/avatars/female.png" alt="user image">
            </div>
        </div>
    </div>
</div>
</div>