// User Summary
//
// Markup: user-summary.hbs
//
// The user summary module that is used to display the image and information of a user in the user profile grid
//
// Style guide: Components.User Summary
.UserSummary {
    &__body {
        position: relative;
        width: 100%;
        padding: 0;

        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }

    &__nonProfileImageModalWrapper {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }

    &__profileImage {
        position: relative;
    }

    .modalImage {
        .onlineCircle {
            position: absolute;
            background-color: #33e23c;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            right: 15px;
            top: 15px;
        }
    }

    &__nonProfileImageWrapper {
        position: relative;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        width: 100%;
        height: 200px;

        @media screen and (max-width: $screen-xs-max) {
            height: 120px;
        }
    }

    &__nonProfileImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__user-image {
        position: absolute;
        overflow: hidden;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__footer__upperPart {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    &__sendMessage {
        border: 0;
        position: absolute;
        top: -25px;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 110px;
        height: 45px;
        border-radius: 50%;
        background-color: lighten($secondaryColor, 5%);

        cursor: pointer;

        &__text {
            font-size: 2rem;
            font-weight: 500;
            color: $white;
        }

        &__icon {
            font-size: 26px;
            color: $white;
            margin-left: 5px;
        }

        &:hover {
            background-color: $secondaryColor;
        }
    }

    &__otherImages {

    }

    &__userInfo {
        text-align: center;

        a {
            text-decoration: none;
            color: #555;
            font-weight: 500;
            font-size: 19px;
        }

        &__additional {
            font-size: 16px;
            color: $secondaryColor;
            font-weight: 400;
        }
    }
}
