// User Profile
//
// Markup: user-profile.hbs
//
// The user profile component displays all the information of a user
//
// Style guide: Components.User Profile
.User-profile {
    &__body {
        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .fa {
            color: map_get($userProfileItem, icon-color);
        }

        h5 {
            color: map_get($userProfileItem, icon-color);
        }
    }

    &__user-image {
        margin-bottom: 10px;
        img {
            width: 100%;
        }
    }

    &__text {
        font-size: map_get($userProfileItem, font-size) + px;
    }
}
