.User-profile {
    padding-bottom: 20px;

    &__sendMessageButton {
        border: 0;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;

        height: 45px;
        border-radius: 0;
        width: 100%;
        box-shadow: none;
        background-color: lighten($secondaryColor, 5%);

        cursor: pointer;

        &__text {
            font-size: 2rem;
            font-weight: 500;
            color: $white;

            @media (max-width: $screen-xs-max) {
                font-size: 1.6rem;
            }
        }

        &__icon {
            font-size: 26px;
            color: $white;
            margin-right: 5px;
        }

        &:hover {
            background-color: $secondaryColor;
            text-decoration: none;
            color: #fff;
        }
    }
}

.User-profile__info {
    &__body {
        padding: 0;
        font-size: 1.7rem;

        table {
            margin-bottom: 0;
        }

        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .fa {
            color: map_get($userProfileItem, icon-color);
        }

        h5 {
            color: map_get($userProfileItem, icon-color);
        }

        table {
            tbody {
                tr > {
                    td {
                        border-top: 0;
                    }
                }
            }
        }
    }

    &__title {
        display: block;
        font-weight: 500;
        color: #444;
        padding-left: 20px;
    }

    &__value {
        font-style: italic;
    }

    &__favorite-button {
        button {
            width: 100%;
        }
    }

    &__text {
        font-size: map_get($userProfileItem, font-size) + px;
    }
}

.User-profile__about {
    &__body {
        padding: 20px 20px 10px;
        font-size: 1.7rem;
    }

    blockquote {
        margin: 0;
        padding: 0;
        border: 0;
        quotes: "\201C""\201D""\2018""\2019";
    }
    blockquote:before {
        color: lighten($secondaryColor, 5%);
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.15em;
        vertical-align: -0.4em;
    }
    blockquote:after {
        color: lighten($secondaryColor, 5%);
        content: close-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-left: 0.15em;
        vertical-align: -0.6em;
    }
    blockquote p {
        display: inline;
        font-style: italic;
        font-size: 1.9rem;
        color: #333;
        font-weight: 400;
    }
}