// colors
$slate: #4f5d75;
$tomato: #ef4f2b;
$sugar: #e6e6e6;
$earlGrey: #f3f3f3;
$white: #fff;
$black: #333;

// brand colors
$mainColor: $slate;
$secondaryColor: $tomato;
$textColor: $black;

// layout items
$navbarLinkColor: $sugar;
$tileBgColor: $white;
$bodyBgColor: $earlGrey;
$borderColor: $bodyBgColor;

$borderWidth: 1;

// layout tweaks
$borderRadius: 2;

// font tweaks
$fontSize: (
    'body-mobile': 16,
    'body-desktop': 18
);