// colors
$slate: #4f5d75;
$tomato: #ef4f2b;
$sugar: #e6e6e6;
$earlGrey: #f3f3f3;
$white: #fff;
$black: #333;

// brand colors
$mainColor: $slate;
$secondaryColor: $tomato;
$textColor: $black;

// layout items
$navbarLinkColor: $sugar;
$tileBgColor: $white;
$bodyBgColor: $earlGrey;
$borderColor: $bodyBgColor;

// layout tweaks
$borderRadius: 2;
$borderWidth: 1;

// font tweaks
$fontSize: (
    'body-mobile': 16,
    'body-desktop': 17
);

// ---------------- Components & Modules ---------------

// Tile
$tileHeading: (
    'padding': 15,
    'fontSize': 14,
    'fontColor': $mainColor,
    'textAlign': center,
    'borderWidth': 2
);

$tileBody: (
    'padding': 15
);

// User-activity
$userActivityHeading: (
    'textAlign': left
);

// Online-users
$onlineUsersItem: (
    'textAlign': left,
    'fontSize': 12,
    'marginBottom': 10,
);

$onlineUsersProfileImage: (
    'marginRight': 5
)
