// Footer
//
// Markup: footer.hbs
//
// The Footer
//
// Style guide: Layout.Footer
.Footer {
    background-color: $footerBgColor;
    color: $white;

    &__logo img {
        height: map_get($footerLogo, height);
    }
}