<footer class="Footer">
    <div class="container">
        <div class="col-xs-12 col-md-4">
            <div class="Footer__logo">
                <img src="http://dating.app/img/site_logos/Altijdsex_LogoSmall_Pos@1x.jpg" alt="dev-Altijdsex.nl">
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            asdasda
        </div>
        <div class="col-xs-12 col-md-4">
            asdasd
        </div>
    </div>
</footer>