@mixin roundImageWrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

@mixin roundImage {
    height: auto;
    width: 100%;

    &.fitVertically {
        height: 100%;
        width: auto;

        &.flagImage {
            width: 100%;
        }
    }
}
