@mixin roundImageWrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

@mixin roundImage {
    position: absolute;
    left: 50%;
    top: 65%;
    height: 130%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
