<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<style>
    .navbar-default .navbar-nav > .active > a {
        background-color: transparent;
        color: #fff;
        font-weight: 500;
    }
</style>

<nav class="navbar navbar-default">
    <div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://dating.app">
                <img src="http://dating.app/img/site_logos/Altijdsex_LogoSmall_Pos@1x.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="http://dating.app"><i class="fa fa-fw fa-newspaper-o"></i>Newsfeed</a>
                </li>
                <li class="">
                    <a href="http://dating.app/users">
                        Profiles
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a href="http://dating.app/logout" onclick="event.preventDefault();
                           document.getElementById('logout-form').submit();">Logout
                    </a>

                    <form id="logout-form" action="http://dating.app/logout" method="POST" style="display: none;">
                        <input type="hidden" name="_token" value="I5wWp4QRCsbDRfJpFQvarJqMLYomStjl65NoFLXf">
                    </form>
                </li>
                <li class=""><a href="http://dating.app/contact">Contact us</a>
                </li>
            </ul>


        </div>
    </div>
</nav>