// Navbar
//
// Markup: navbar.hbs
//
// The Navbar
//
// Style guide: Layout.Navbar

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #e6e6e6;
}

.showSelectedLanguage {
    position: absolute;
    right: 10px;
    top: 16px;
}

.languagesSubmenu {
    position: relative;

    .dropdown-menu {
        position: absolute;
        top: 0;
        left: -101%;
        margin-top: -1px;
        width: 100%;
    }

    .flagImageWrapper {
        position: relative;
        margin-right: 10px;

        width: 24px;
        height: 24px;
    }

    .flagImage {
        @include roundImage;

        position: absolute;
        top: 6px;
        left: 0;
        width: 24px;
        height: 24px;
    }

    &__item {
        display: flex !important;
    }
}

.navbar-default .userDropdown .languagesSubmenu .caret {
    top: 0;
}

.navbar-default {
    border: $navbarBorderWidth + px solid $navbarBgColor;
    background-color: $navbarBgColor;
    position: relative;
    border-radius: 0;

    .navbar-toggle {
        margin-top: 17px;

        &:focus,
        &:hover {
            background-color: initial;
        }
    }

    .navbar-nav {
        .vertical-separator {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -($navbarHeight - 30)/2 + px;
            width: 1px;
            height: $navbarHeight - 30 + px;
            border-right: 1px solid #5a6982;

            @media (max-width: $screen-sm-max) {
                display: none;
            }
        }

        .userCreditsNumber {
            font-weight: 400;
            color: lighten($secondaryColor, 10%);
        }

        > li {
            &.userCredits {
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                width: 123px;
                height: $navbarHeight + px;
                font-size: 20px;

                a {
                    color: $navbarLinkColor;

                    &:hover {
                        color: darken($navbarLinkColor, 15%);
                        cursor: pointer;
                        text-decoration: none;
                    }

                    &:focus {
                        text-decoration: none;
                    }
                }
            }

            > a {
                background-color: $navbarBgColor;
                line-height: $navbarLineHeight + px;
                padding-top: ($navbarHeight - $navbarLineHeight - 2 * $navbarBorderWidth) / 2 + px;
                padding-bottom: ($navbarHeight - $navbarLineHeight - 2 * $navbarBorderWidth) / 2 + px;
                color: $navbarLinkColor;
                font-size: 20px;
                font-weight: 200;

                &:hover {
                    color: darken($navbarLinkColor, 15%);
                    cursor: pointer;
                }

                &:focus {
                    background-color: transparent;
                    color: $sugar;
                }
            }

            &.userDropdown {
                position: relative;
                display: flex;
                flex-direction: row;

                @media (max-width: $screen-sm-max) {
                    flex-direction: column;
                }

                .dropdown-menu {
                    padding: 0;
                    background-color: $mainColor;

                    li {
                        border-bottom: 1px solid lighten($mainColor, 2%);

                        &:last-of-type {
                            border-bottom: 0;
                        }
                    }

                    a {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        color: $navbarLinkColor;
                        font-size: 16px;

                        @media (min-width: $screen-md-min) {
                            background-color: darken($mainColor, 2%);
                        }

                        &:hover {
                            background-color: darken($mainColor, 2%);
                            color: darken($navbarLinkColor, 15%);
                        }


                    }
                }

                @media (min-width: $screen-md-min) {
                    &.open {
                        > a {
                            background-color: darken($mainColor, 2%);
                            color: $white;
                        }
                    }
                }

            }
        }

        > .active {
            > a {
                background-color: transparent;
                color: $white;
                font-weight: 500;

                &:focus {
                    color: $white;
                    background-color: transparent;
                }
            }

            &:hover {
                > a {
                    background-color: transparent;
                    color: $sugar;
                }
            }

            &:focus {
                > a {
                    background-color: transparent;
                    color: $sugar;
                }
            }
        }
    }

    #goToAdmin {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 0 0 10px 10px;
        left: 20px;
        border: 1px solid #fff;
        border-top: 0;
        text-align: center;
        width: 100px;
        z-index: 1000;

        a {
            color: $white;
        }
    }

    .userDropdown {
        position: relative;

        .caret {
            top: 10px;
            position: relative;
            margin-left: 4px;
        }

        &__image {
            @include roundImage;

            position: absolute;
            left: 12px;
            top: 25px;
            width: 33px;
            height: 33px;
        }

        .dropdown-toggle {
            display: flex;
            flex-direction: row;
            padding-left: 55px;
        }

        .dropdown-menu {
            min-width: 300px;

            a {
                padding-top: 15px !important;
                padding-bottom: 15px !important;
            }
        }
    }
}

.navbar-brand {
    display: inline-block;
    height: auto;
    padding-top: ($navbarHeight - $logoHeight - 2 * $navbarBorderWidth) / 2 + px;
    padding-bottom: ($navbarHeight - $logoHeight - 2 * $navbarBorderWidth) / 2 + px;

    > img {
        height: $logoHeight + px;
    }
}

// change navbar collapse breakpoint
@media (max-width: $screen-sm-max) {
    .navbar-header {
        float: none;
        position: relative;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.navbar {
    .container {
        position: relative;
    }

    .buyCreditsButton {
        position: absolute;
        left: 480px;
        top: 20px;

        width: 150px;
        height: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 2rem;
        background-color: #bf5252;
        border-radius: 20px;
        color: $white;
        text-decoration: none;

        &:hover {
            background-color: darken(#bf5252, 4%);
        }

        @media (max-width: 1199px) {
            left: 270px;
        }

        @media (max-width: $screen-sm-max) {
            left: 220px;
        }

        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }

    .searchToggle {
        position: relative;
        display: inline-block;

        @media (max-width: $screen-sm-max) {
            display: none;
        }

        &.mobile {
            display: none;
            position: static;

            .searchToggleButton {
                left: 400px;
                top: 19px;
                width: 131px;
                height: 31px;
                border-radius: 20px;

                @media (max-width: $screen-xs-max) {
                    left: 177px;
                    top: 15px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }

            @media (max-width: $screen-sm-max) {
                display: inline-block;
            }
        }
    }

    @media (max-width: $screen-sm-max) {
        .searchBarContainer {
            height: 70px;
        }
    }

    .searchToggleButton {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        left: -128px;
        bottom: -5px;
        text-align: center;
        width: 131px;
        height: 31px;
        border-radius: 20px;
        border: 1px solid $secondaryColor;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

        background-color: lighten($secondaryColor, 5%);
        color: #fff;

        &:hover {
            background-color: $secondaryColor;
        }

        span {
            display: flex;
            align-items: center;
            margin-right: 5px;
        }

        @media (max-width: $screen-sm-max) {
            left: 12px;
            bottom: -12px;
        }

        &.pressed {
            border: 1px solid $secondaryColor;
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
            background-color: $secondaryColor;
        }

        .material-icons {
            position: relative;
            top: 3px;
            width: 14px;

            @media (max-width: $screen-xs-max) {
                top: 7px;
                width: 21px;
            }
        }
    }

    @media (max-width: $screen-sm-max) {
        .searchBarContainer {
            display: none
        }
    }

    @media (max-width: $screen-xs-max) {
        span.searchToggleButtonText {
            display: none;
        }
    }
}
