// colors
$slate: #4f5d75;
$slateLight: #617493;
$dark: #312c2c;
$tomato: #ef4f2b;
$tomatoLight: #ee796d;
$salmon: #f3a69e;
$sugar: #e6e6e6;
$lightGrey: #e5e5e5;
$earlGrey: #f3f3f3;
$mildGrey: #999999;
$white: #fff;
$darkWhite: #f7f7f7;
$black: #333;
$light-teal: #b6e9df;
$topaz: #1abc9c;
$topazLight: #25d8b4;
$skyBlue: #9acced;
$darkSkyBlue: #3498db;
$babyBlue: #67b2e5;
$babyBlueLight: #9acced;
$lightBlueDull: #8eb4cb;
$squash: #f39c12;
$squashLight: #f7b54e;
$yellowLight: #f9ce89;
$pink: #ce5a5a;

// brand colors
$mainColor: #393939;
$secondaryColor: $pink;
$tertiaryColor: #81dada;
$fourthColor: #e27e67;
$textColor: $black;

// layout colors
$bodyBgColor: $earlGrey;
$borderColor: $bodyBgColor;

$roundImageDimensions: (
        'xs': 30,
        'sm': 40, // this is not to be changed
        'md': 80,
        'lg': 150,
        'xl': 250,
);

// layout tweaks
$borderRadius: 10;
$borderWidth: 1;

// font tweaks
$fontSize: (
        'body-mobile': 18,
        'body-desktop': 18
);

// ---------------- Components & Modules ---------------
// Navbar
$navbarLinkColor: $sugar;
$navbarBgColor: $dark;

$navbarHeight: 50;
$navbarHeightSmallScreens: 50;

$extraPaddingTopMainContent: 40;

$navbarBorderWidth: 1;
$navbarLineHeight: 22;

$logoHeight: 36;
$userMenuImageContainerDimension: 31;
$userMenuImageDimension: 31;
$userMenuImageTop: ($navbarHeight - $userMenuImageContainerDimension)/2;

$buyCreditsButtonHeight: 31;

$searchToggleButtonHeight: 31;

//Footer
$footerLinkTextColor: $lightBlueDull;

// Tile
$tileBgColor: $white;
$tileHeading: (
        'padding': 15,
        'fontSize': 18,
        'fontColor': $secondaryColor,
        'textAlign': center,
        'borderWidth': 2
);

$tileBody: (
        'padding': 35
);

$tileBodyArticles: (        'headBackGroundColor': darken($mainColor, 4%),

        'padding': 35
);

// User-activity
$userActivityHeading: (
        'textAlign': left
);

$userActivityProfileImage: (
        'width': 30,
        'height': 30
);

// Online-users
$onlineUsersItem: (
        'textAlign': left,
        'fontSize': 14,
        'marginBottom': 10,
);

// Shoutbox
$shoutboxHeight: 600;

$shoutboxItem: (
        'text-align': left,
        'font-size': 12,
        'margin-bottom': 10,
);

$shoutboxControls: (
        'border-top': 2px solid #f2f2f2,
        'background-color': #fff,
        'height': 156
);

$shoutboxItemTextarea: (
        'background-color': #f2f2f2,
        'border-radius': $borderRadius,
        'font-color': $slate,
        'font-size': 12
);

$shoutboxItemProfileImage: (
        width: map_get($roundImageDimensions, xs),
        height: map_get($roundImageDimensions, xs)
);

$shoutboxItemBubble: (
        background-color: #f2f2f2,
        border-radius: $borderRadius,
        padding: 5px 7px 9px 7px,
        border: 1px solid #e6e6e6,
        font-size: 12
);

// User-account
$userAccountProfileImage: (
        'width': map_get($roundImageDimensions, sm),
        'height': map_get($roundImageDimensions, sm),
        'border-radius': 50%,
        'padding-top': 10
);

$userAccountUsername: (
        'font-size': 14,
        'font-color': $mainColor,
        'padding-top': 10,
        'padding-bottom': 10
);

// Footer
$footerBgColor: $dark;
$footerLogo: (
        'height': 110,
        'width': 110,
        'margin-top': 3
);

// Alerts
$alertSuccess: (
        'bgColor': $light-teal,
        'font-color': $topaz,
        'border-color': $topaz,
        'dismiss-color': $topaz
);

$alertInfo: (
        'bgColor': $skyBlue,
        'font-color': $darkSkyBlue,
        'border-color': $darkSkyBlue,
        'dismiss-color': $darkSkyBlue
);

$alertWarning: (
        'bgColor': $yellowLight,
        'font-color': $squash,
        'border-color': $squash,
        'dismiss-color': $squash
);

$alertDanger: (
        'bgColor': $salmon,
        'font-color': $tomato,
        'border-color': $tomato,
        'dismiss-color': $tomato
);

// Buttons
$button: (
        'font-color': $white,
        'height': 44,
        'border-radius': $borderRadius,
        'border-width': 1,
        'border-color': #ccc,
        'font-size': 1.8,
        'font-weight': 500,
        'line-height': 15,
        'box-shadow__active': inset 0 1px 3px 0 rgba(0, 0, 0, 0.25)
);

$defaultButton: (
        'background-color': $white,
        'border-color': $white,
        'font-color': #555,
        'background-color__hover': #f7f6f6,
        'background-color__active': $lightGrey
);

$primaryButton: (
        'background-color': $secondaryColor,
        'border-color': $secondaryColor,
        'background-color__hover': lighten($secondaryColor, 6%),
        'background-color__active': darken($secondaryColor, 6%)
);

$successButton: (
        'background-color': $topaz,
        'background-color__hover': $topazLight,
        'background-color__active': $topaz
);

$infoButton: (
        'background-color': $tertiaryColor,
        'background-color__hover': lighten($tertiaryColor, 3%),
        'background-color__active': $tertiaryColor
);

$warningButton: (
        'background-color': $squash,
        'background-color__hover': $squashLight,
        'background-color__active': $squash
);

$dangerButton: (
        'background-color': #b15844,
        'background-color__hover': lighten(#b15844, 6%),
        'background-color__active': darken(#b15844, 6%)
);

// Search
$searchItem: (
        'font-size': 14,
        'font-color': $slate
);

// User-profile
$userProfileItem: (
        'icon-color': $slate,
        'font-size': 14
);

// Chat
$privateChatItem: (
        'width': 376,
        'headHeightMobileMaximized': 45
);

$privateChatManager: (
        'headBackGroundColor': darken($mainColor, 4%),
        'headColor': $white,
        'headHeight': 50,
        'headHeightMobileMaximized': 57
);

$pagination: (
        'activeBackGroundColor': $mainColor,
        'textColor': $tertiaryColor
);
