<div class="row">
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="Module Module_online-users">
        <div class="Tile Online-users">
            <div class="Tile__heading Online-users__heading">
                Online users
            </div>
            <div class="Tile__body Online-users__body">
                <div class="Online-users__item">
                    <div class="Online-users__profile-image">
                        <a href="http://dating.app/users/4">
                            <img src="http://dating.app/img/avatars/male.png" alt="">
                        </a>
                    </div>
                    <div class="Online-users__username">
                        <a href="http://dating.app/users/4">
                            brian.nolan
                        </a>
                    </div>
                </div>
                <div class="Online-users__item">
                    <div class="Online-users__profile-image">
                        <a href="http://dating.app/users/7">
                            <img src="http://dating.app/img/avatars/male.png" alt="">
                        </a>
                    </div>
                    <div class="Online-users__username">
                        <a href="http://dating.app/users/7">
                            cummerata.raoul
                        </a>
                    </div>
                </div>
                <div class="Online-users__item">
                    <div class="Online-users__profile-image">
                        <a href="http://dating.app/users/10">
                            <img src="http://dating.app/img/avatars/male.png" alt="">
                        </a>
                    </div>
                    <div class="Online-users__username">
                        <a href="http://dating.app/users/10">
                            ekautzer
                        </a>
                    </div>
                </div>
                <div class="Online-users__item">
                    <div class="Online-users__profile-image">
                        <a href="http://dating.app/users/11">
                            <img src="http://dating.app/img/avatars/male.png" alt="">
                        </a>
                    </div>
                    <div class="Online-users__username">
                        <a href="http://dating.app/users/11">
                            andres.pacocha
                        </a>
                    </div>
                </div>
                <div class="Online-users__item">
                    <div class="Online-users__profile-image">
                        <a href="http://dating.app/users/12">
                            <img src="http://dating.app/img/avatars/male.png" alt="">
                        </a>
                    </div>
                    <div class="Online-users__username">
                        <a href="http://dating.app/users/12">
                            hprice
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>