// Search
//
// Markup: search.hbs
//
// The Search module
//
// Style guide: Modules.Search
.Search {
    &__body {
        label {
            font-size: map_get($searchItem, font-size) + px;
            color: map_get($searchItem, font-color);
        }
    }
}

.ui-autocomplete.ui-widget.ui-widget-content {
    list-style: none;
    padding-left: 10px;
}