<div class="row">
<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="Module Module_shoutbox">
        <div class="Tile Shoutbox">
            <div class="Tile__heading Shoutbox__heading">
                Shoutbox
            </div>
            <div class="Tile__body Shoutbox__body JS--Shoutbox__body">
                <div class="Shoutbox__items">
                    <div class="Shoutbox__item">
                        <div class="Shoutbox__profile-image">
                            <a href="http://dating.app/users/2">
                                <img src="http://dating.app/img/avatars/male.png" alt="">
                            </a>
                        </div>
                        <div class="Shoutbox__bubble">
                            Queen said to Alice, very loudly and decidedly, and he says it's so useful, it's worth a
                            hundred.
                        </div>
                    </div>
                    <div class="Shoutbox__item">
                        <div class="Shoutbox__profile-image">
                            <a href="http://dating.app/users/3">
                                <img src="http://dating.app/img/avatars/male.png" alt="">
                            </a>
                        </div>
                        <div class="Shoutbox__bubble">
                            And yet you incessantly stand on your shoes and stockings for you now, dears? I'm sure she's
                            the.
                        </div>
                    </div>
                    <div class="Shoutbox__item">
                        <div class="Shoutbox__profile-image">
                            <a href="http://dating.app/users/4">
                                <img src="http://dating.app/img/avatars/male.png" alt="">
                            </a>
                        </div>
                        <div class="Shoutbox__bubble">
                            Alice replied in a helpless sort of use in talking to him,' the Mock Turtle. 'She can't explain.
                        </div>
                    </div>
                    <div class="Shoutbox__item">
                        <div class="Shoutbox__profile-image">
                            <a href="http://dating.app/users/5">
                                <img src="http://dating.app/img/avatars/male.png" alt="">
                            </a>
                        </div>
                        <div class="Shoutbox__bubble">
                            Cat, 'or you wouldn't keep appearing and vanishing so suddenly: you make one repeat lessons!'.
                        </div>
                    </div>
                    <div class="Shoutbox__item">
                        <div class="Shoutbox__profile-image">
                            <a href="http://dating.app/users/6">
                                <img src="http://dating.app/img/avatars/male.png" alt="">
                            </a>
                        </div>
                        <div class="Shoutbox__bubble">
                            Classics master, though. He was an immense length of neck, which seemed to be no chance of her.
                        </div>
                    </div>
                </div>
            </div>
            <div class="Shoutbox__controls JS--Shoutbox__controls">
                <form action="">
                    <div class="form-group">
                        <textarea name="message" id="message" rows="4" maxlength="140" placeholder="Type something!"
                                  class="form-control"></textarea>
                    </div>
                    <div class="text-right">
                        <div class="Shoutbox__textarea-counter">
                        <span class="Shoutbox__textarea-counter__count
                            JS--Shoutbox__textarea-counter__count
                        ">
                            0</span>/140
                        </div>

                        <button type="submit" class="Button Button--primary">
                            <span class="Button__content">POST</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="hidden-xs col-sm-12 col-md-6">
        <div class="Module Module_shoutbox">
            <div class="Tile Shoutbox">
                <div class="Tile__heading Shoutbox__heading">
                    Shoutbox
                </div>
                <div class="Tile__body Shoutbox__body JS--Shoutbox__body">
                    <div class="Shoutbox__items">
                        <div class="Shoutbox__item">
                            <div class="Shoutbox__profile-image">
                                <a href="http://dating.app/users/2">
                                    <img src="http://dating.app/img/avatars/male.png" alt="">
                                </a>
                            </div>
                            <div class="Shoutbox__bubble">
                                Queen said to Alice, very loudly and decidedly, and he says it's so useful, it's worth a
                                hundred.
                            </div>
                        </div>
                        <div class="Shoutbox__item">
                            <div class="Shoutbox__profile-image">
                                <a href="http://dating.app/users/3">
                                    <img src="http://dating.app/img/avatars/male.png" alt="">
                                </a>
                            </div>
                            <div class="Shoutbox__bubble">
                                And yet you incessantly stand on your shoes and stockings for you now, dears? I'm sure
                                she's
                                the.
                            </div>
                        </div>
                        <div class="Shoutbox__item">
                            <div class="Shoutbox__profile-image">
                                <a href="http://dating.app/users/4">
                                    <img src="http://dating.app/img/avatars/male.png" alt="">
                                </a>
                            </div>
                            <div class="Shoutbox__bubble">
                                Alice replied in a helpless sort of use in talking to him,' the Mock Turtle. 'She can't
                                explain.
                            </div>
                        </div>
                        <div class="Shoutbox__item">
                            <div class="Shoutbox__profile-image">
                                <a href="http://dating.app/users/5">
                                    <img src="http://dating.app/img/avatars/male.png" alt="">
                                </a>
                            </div>
                            <div class="Shoutbox__bubble">
                                Cat, 'or you wouldn't keep appearing and vanishing so suddenly: you make one repeat
                                lessons!'.
                            </div>
                        </div>
                        <div class="Shoutbox__item">
                            <div class="Shoutbox__profile-image">
                                <a href="http://dating.app/users/6">
                                    <img src="http://dating.app/img/avatars/male.png" alt="">
                                </a>
                            </div>
                            <div class="Shoutbox__bubble">
                                Classics master, though. He was an immense length of neck, which seemed to be no chance
                                of her.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Shoutbox__controls JS--Shoutbox__controls">
                    <form action="">
                        <div class="form-group">
                        <textarea name="message" id="message" rows="4" maxlength="140" placeholder="Type something!"
                                  class="form-control"></textarea>
                        </div>
                        <div class="text-right">
                            <div class="Shoutbox__textarea-counter">
                        <span class="Shoutbox__textarea-counter__count
                            JS--Shoutbox__textarea-counter__count
                        ">
                            0</span>/140
                            </div>

                            <button type="submit" class="Button Button--primary">
                                <span class="Button__content">POST</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>