// Shoutbox
//
// Markup: shoutbox.hbs
//
// The Shoutbox module
//
// Style guide: Modules.Shoutbox
.Shoutbox {
    position: relative;
    height: $shoutboxHeight + px;

    &__item {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: flex-start;
        align-items: flex-start;

        text-align: map_get($shoutboxItem, text-align);
        margin-bottom: map_get($shoutboxItem, margin-bottom) + px;

        &:last-of-type {
            margin-bottom: 0
        }
    }

    &__body {
        padding: 0;
    }

    &__items {
        padding: 10px 10px 10px 0;
        height: 391px;
        overflow-y: scroll;
    }

    &__controls {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        border-top: map_get($shoutboxControls, border-top);
        background-color: map_get($shoutboxControls, background-color);
        height: map_get($shoutboxControls, height) + px;

        textarea {
            resize: none;
            background-color: map_get($shoutboxItemTextarea, background-color);
            border-radius: map_get($shoutboxItemTextarea, border-radius) + px;
            color: map_get($shoutboxItemTextarea, font-color);
            font-size: map_get($shoutboxItemTextarea, font-size) + px;
        }
    }

    &__profile-image {
        -webkit-flex: 1 0 0;
        flex: 1 0 0;
        text-align: center;

        img {
            width: map_get($shoutboxItemProfileImage, width) + px;
            height: map_get($shoutboxItemProfileImage, height) + px;
            border-radius: 50%;
        }
    }

    &__bubble {
        -webkit-flex: 4 0 0;
        flex: 4 0 0;
        text-align: left;
        border-radius: map_get($shoutboxItemBubble, border-radius) + px;
        background-color: map_get($shoutboxItemBubble, background-color);
        border: map_get($shoutboxItemBubble, border);
        padding: map_get($shoutboxItemBubble, padding);
        font-size: map_get($shoutboxItemBubble, font-size) + px;
    }

    &__textarea-counter {
        float: left;
        color: #999;
    }
}

