.EditProfile {
    .material-icon-calendar {
        font-size: 17px;
    }

    table .action-buttons .btn {
        display: block;
        margin-bottom: 5px;
        width: 100%;
    }

    .checkbox.notificationSettingsItem {
        line-height: 20px;

        .helpText {
            margin-left: 20px;
            color: #777;
            font-size: 15px;
        }
    }

    label {
        font-size: 14px;
        color: $mainColor;
    }

    table {
        th {
            font-size: 14px;
            color: #4e5d75;
        }

        td.action-buttons {
            padding-left: 0;
            width: 200px;

            .btn {
                width: 200px;
            }
        }
    }
}