// Footer
//
// Markup: footer.hbs
//
// The Footer
//
// Style guide: Layout.Footer
.Footer {
    position: relative;
    z-index: 5;
    padding: 30px 0;
    background: darken($mainColor, 5%);
    color: $white;

    &__items {
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        font-size: 17px;
        margin-right: 10px;

        &:hover {
            text-decoration: none;
            color: $secondaryColor;
        }

        &::before {
            content: '\b7';
            padding-right: 9px;
            color:#fff;
            font-weight: bold;
            font-size: 1.8rem;
        }
    }

    &__logo {
        img {
            width: 177px;
            //padding-top: map_get($footerLogo, margin-top) + rem;
            margin-bottom: 22px;
        }

        &-container {
            padding-top: 20px;
        }
    }
}

.copyright h5 {
    font-size: 17px;
}