.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $navbarHeight + px;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $navbarBgColor;
    border-bottom: 1px solid #545454;

    &__brand {
        position: absolute;
        left: 16px;
        top: 0;
        bottom: 0;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        &__logo {
            height: $logoHeight + px;
        }
    }

    &__centralMenu {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 auto;
        padding: 0;
        height: 100%;
        width: 585px;

        &__item {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex: 1;
            color: #fff;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                color: #fff;
                text-decoration: none;
            }

            &:focus,
            &:active {
                color: #fff;
                text-decoration: none;
            }

            &.active {
                color: $secondaryColor;

                border-bottom: 3px solid $secondaryColor;
                border-top: 3px transparent;
            }

            &__icon {
                font-size: 32px !important;
            }
        }
    }

    &__rightMenu {
        position: absolute;
        right: 16px;
        top: 0;
        bottom: 0;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        &__profileImage {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 40px;
            width: 40px;
            border-radius: 50%;
            object-fit: cover;

            margin-right: 10px;
        }

        &__username {
            display: flex;
            align-items: center;
            justify-content: center;

            color: #fff;
            font-size: 2rem;
        }

        &__downIcon {
            color: #fff;
        }
    }
}