.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $navbarHeight + px;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $navbarBgColor;
    border-bottom: 1px solid #545454;

    @media (max-width: $screen-xs-max) {
        height: $navbarHeightSmallScreens + px;
    }

    &__brand {
        position: absolute;
        left: 16px;
        top: 0;
        bottom: 0;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        &__logo {
            height: $logoHeight + px;

            display: inline-block;

            @media (max-width: $screen-md-max) {
                height: ($logoHeight - 8) + px;
            }

            @media (max-width: $screen-sm-max) {
                height: ($logoHeight - 12) + px;
            }

            @media (max-width: $screen-xs-max) {
                height: ($logoHeight - 16) + px;
            }

            @media (max-width: 530px) {
                height: ($logoHeight - 20) + px;
            }

            //&__mobile {
            //    display: none;
            //
            //    @media (max-width: 530px) {
            //        display: inline-block;
            //    }
            //}
        }
    }

    &__centralMenu {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 auto;
        padding: 0;
        height: 100%;
        width: 585px;
        z-index: 100;

        @media (max-width: $screen-sm-max) {
            width: 350px;
        }

        @media (max-width: $screen-xs-max) {
            position: fixed;
            top: $navbarHeightSmallScreens + px;
            left: 0;
            right: 0;
            width: 100%;
            height: $navbarHeightSmallScreens + px;
            background: $navbarBgColor;
        }

        &__item {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex: 1;
            color: #fff;
            cursor: pointer;
            text-decoration: none;

            &.loggedOut {
                .Navbar__centralMenu__item__icon {
                    margin-right: 10px;
                }
            }

            &:hover {
                color: #fff;
                text-decoration: none;

                &:not(.active){
                    background-color: #3c3b3b;
                    border-radius: 14px;
                }
            }

            &:focus,
            &:active {
                color: #fff;
                text-decoration: none;
            }

            &.active {
                color: $secondaryColor;

                border-bottom: 3px solid $secondaryColor;
                border-top: 3px transparent;
            }

            &__icon {
                position: relative;
                font-size: 32px !important;

                @media (max-width: $screen-sm-max) {
                    font-size: 25px !important;
                }
            }

            .userCreditsNumber {
                position: absolute;
                top: -7px;
                right: -21px;

                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                background-color: #ff4343;
                color: #fff;
                font-weight: 400;
                font-size: 1.5rem;

                @media (max-width: $screen-sm-max) {
                    font-size: 1.3rem;
                }
            }
        }
    }

    &__rightMenu {
        position: absolute;
        right: 16px;
        top: 0;
        bottom: 0;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        &__profileImage {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 40px;
            width: 40px;
            border-radius: 50%;
            object-fit: cover;

            margin-right: 10px;

            @media (max-width: $screen-xs-max) {
                height: 34px;
                width: 34px;
            }
        }

        &__username {
            display: flex;
            align-items: center;
            justify-content: center;

            color: #fff;
            font-size: 2rem;
        }

        &__downIcon {
            color: #fff;
        }
    }
}

body.scrolled {
    @media (max-width: $screen-xs-max) {
        .Navbar__centralMenu {
            top: 0;
        }
    }
}